{
  "ANILIST_CLIENT_ID": "your AniList app's client id",
  "ANILIST_CLIENT_SECRET": "your AniList app's client secret",
  "MAL_CLIENT_ID": "your MyAnimeList app's client id",
  "MAL_CLIENT_SECRET": "your MyAnimeList app's client secret"
}
